vendor*
target
/result
.cargo
debian/xdg-desktop-portal-lingmo*
debian/*debhelper*
debian/files
data/dbus-1/org.freedesktop.impl.portal.desktop.lingmo.service
data/org.freedesktop.impl.portal.desktop.lingmo.service
